In [3]:
print('I\'m stydying python')

I'm stydying python

In [9]:
print('teste1','teste2')
print('teste1\nteste2')

teste1 teste2
teste1
teste2

In [17]:
def fun3(y, x=1, z=2):
        return

In [19]:
list = [1,2,3]
list[0], list[-1] = list[-1], list[0]
print(list)

[3, 2, 1]

In [41]:
for i in range(1,2):
    print(i)

1

In [45]:
val = int(input('digige'))

digige a

ValueError: invalid literal for int() with base 10: 'a'

In [63]:
print(5 >> 1)

2

In [65]:
print('a' + 5)

TypeError: can only concatenate str (not "int") to str

In [67]:
print('carlos'[1])

a

In [71]:
dict1 = {'admin': 25, 'hob': 30}
dict2 = {'admin': 25, 'hob': 30}
print(dict1 == dict2)

True

In [88]:
tupl = 5,4,'3'
print(list(tupl))

TypeError: 'list' object is not callable

In [90]:
if (a = 10) :
    print(a)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2911257608.py, line 1)

In [92]:
dict1 = {'admin': 25, 'hob': 30}
print(dict1[0:1])

KeyError: slice(0, 1, None)